# Ne pas copier l'environnement virtuel local
venv/
.venv/

# Ne pas copier les fichiers Git
.git
.gitignore

# Ne pas copier les fichiers de cache Python
**/__pycache__
*.pyc

# Ne pas copier la base de donnees locale
db.sqlite3
